/*----------HEADER----------*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
min-height: 100vh;
}

body {
display: flex;
flex-direction: column;
}

header {
  background-color: rgb(102, 73, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

h1 {
    margin-bottom: 20px;
}

.newBtn {
  padding: 7px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#newProjectWrapper, #newMemberWrapper {
  display: none;
}

.newDiv {
  border: 1px solid #010101;
  border-radius: 5px;
  padding: 15px;
  position: relative;
}

.closeBtn {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.closeBtn:hover {
  
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

form label, p {
  font-weight: 600;
  font-size: 1.1rem;
}

.submitBtn {
  padding: 3px 8px;
  display: block;
  margin: 15px auto 0 auto;
  cursor: pointer;
}

/*----------MAIN----------*/
main {
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: center;
  margin-top: 2rem;
}

.gridSection {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 50px 370px;
}

.div1, .div2, .div3 {
  border-bottom: 2px solid black;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
}

.div2, .div5 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

main aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 90%;
}

.filterBtn {
  font-size: 1rem;
  padding: 5px 12px;
  cursor: pointer;
}

/*
.div4 {
  grid-row-start: 2;
}

.div5 {
  grid-row-start: 2;
}

.div6 {
  grid-row-start: 2;
}
*/
/*----------FOOTER----------*/
footer {
  background-color: rgb(102, 73, 139);
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 20px 0;
}

.allFooterBtn {
  margin: 0 20px;
    text-decoration: none;
    border: 1px solid #010101;
    border-radius: 5px;
    padding: 10px;
}

/*----------EXTERN HTML FILES---------*/

.allBtn {
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}